# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment
.env
.env*.local

# Docusaurus
.docusaurus/
build/
